.footerDiv {
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 310px;
  margin-top: 50%;
  margin-bottom: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 50px;

}


.companySocials {
  width: 290px;
  line-height: 42px;
}
   


.companyInfo {
  display: flex;
  flex-direction: row;
  
}

.title {
  color: var(--white);
  padding-bottom: 15px;
}

.subtitle {
  color: var(--white);
  line-height: 20px;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.icon {
  height: 52px;
  width: 52px;
}
.one{ 
  margin-left: 16rem;
  line-height: 39px;
}
.two{
  margin-left: 10rem;
  line-height: 39px;
}


.three {
  margin-left: 8rem;
  line-height: 39px;
}

.footerText {
  color: rgb(166, 160, 160);
}